<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="Stylesheet" href="../static/styles.css"><link>
</head>
<body>
    <h1> Sentiment Analysis</h1>
    <h2> Enter your text </h2>
    <div>
    <form id="input">
        <input type="text" name="user_input" placeholder="Type Something...">
        <button type="submit">Submit</button>
    </form>
    <div id="response">

    </div>
    </div>
     <script src="../static/main.js"></script>
</body>
</html>